:root {
    /*Primary Colors*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /*Neutral Colors*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    /*Font-sizes*/
    --p-font-size: 16px;

    /*Font weights*/
    --bold: 500;
    --bolder: 700;
    --boldest: 900;
    }

    /*reset*/
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-size: var(--p-font-size);
        font-family: 'Red Hat Display', sans-serif;
    }

    .background{
        background-image: url(img/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-color: var(--pale-blue);
        background-size: 100% 33.3%;
        width: 100%;
        height: 81vh;
        padding: 75px 0;
    }

    @media screen and (max-width: 750px) {
        .background {
            background-image: url(img/pattern-background-mobile.svg);
            padding: 50px 0;
            height: 90vh;
        }
    }

    .card {
        width: 25%;
        margin: 0 auto;
        border-radius: 15px;
        background: #fff;
        margin-top: 25px;
    }

    @media screen and (max-width: 1200px) {
        .card {
            min-width: 335px;
            margin-top: 0;
        }
    }

    .card-header-image{
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }

    .card-info {
        text-align: center;
        padding: 25px;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-info_margin {
        margin: 10px 0;
    }

    .card-info-description, .card-info-text {
        color: var(--desaturated-blue);
        line-height: 1.5em;

    }

    .Card-info-title, 
    .card-info-description, 
    .card-info-product {
        width: 90%;
    }

    .card-info-product {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: var(--very-pale-blue);
        padding: 10px;
        border-radius: 10px;
    }

    .card-info-product-price {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .music-note {
        margin: 0 15px 0 5px;
    }

    .product-title {
        font-weight: var(--boldest);
    }
    .card-info-button {
        width: 95%;
        font-size: .9em;
        background: var(--bright-blue);
        padding: 15px;
        color: #fff;
        font-weight: var(--boldest);
        border-radius: 10px;
        box-shadow: 5px 8px 15px 3px var(--pale-blue), -5px 8px 15px 1px var(--pale-blue)
    }

    a {
        font-weight: var(--bolder);
        color: hsl(245, 75%, 35%);
        font-size: .9em;
    }

    a:active {
        color: hsl(245, 75%, 75%);
        text-decoration: none;
    }

    .card-info-button:active {
        background: hsl(245, 75%, 65%);
    }

    .card-cancel {
        text-decoration: none;
        color: var(--desaturated-blue);
    }

    .card-cancel:active {
        color: hsl(224, 23%, 30%);
        font-weight: 700;
    }